%header.main-header
  .a.logo
    %span.logo-mini
      %img.img-circle{:alt => "User Image", :src => "/assets/admin-user.png", :height => "50", :width => "50"}
    %span.logo-lg
      %img.img-circle{:alt => "User Image", :src => "/assets/admin-user.png", :height => "50", :width => "50", :style=>"width: 50px;"}
  %nav.navbar.navbar-static-top{:role => "navigation", "data-no-turbolink" => ""}
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %span
          %li
            = link_to "Sign out",destroy_user_session_path, :class => "btn btn-default btn-flat"                
%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu{"data-no-turbolink" => ""}
      %li.header Contents
      %li.active.treeview
        %a{:href => "/dashboards"}
          %i.fa.fa-dashboard
          %span Dashboard
      %li.treeview
        %a{:href => "/projects"}
          %i.fa.fa-users
          %span Projects

          
